.main {
    min-height: 100vh;
}

footer {
    position: fixed;
    display: flex;
    justify-content: center;
    margin-top: 50px;

    width: 100%;
    bottom: 10px;
}

.twitter-icon {
    height: 25px;
    width: 25px;

    border-radius: 5px;
}