:root {
    --main-color-white: #FCFCFC;
    --main-color-black: #0D0A0B;
    --main-color-grey: #3c3e48;
}

body {
    height: 100vh;
    color: white;

    background-image: url("../assets/backgrounds/1.jpg");
    backdrop-filter: brightness(35%);
    background-repeat: no-repeat;
    background-size: 100%;
}
